:root{
    --primary: #333333;
    --bg: #010101;
}

*/ Meyer reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Meyer reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}

body {
    font-family: 'Courier', sans-serif;
    background-color: var(--bg);
    color: #C0C0C0;
    min-height: 3000px;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 10%;
    background-color: rgba(51, 51, 51, 0.8);
    border-bottom: 1px solid #C0C0C0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000000;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: #f9f4f4;
    font-style: italic;
}
.navbar .navbar-logo span {
    color: black;
}
.navbar .navbar-nav a {
    color: antiquewhite;
    display: inline-block;
    font-size: 1.5rem;
    margin: 1rem;
}
.navbar .navbar-nav a:hover{
    color: var(--primary);
}
.navbar .navbar-nav a::after {
 content: '';
 display: block;
 padding-bottom: 0.5rem;
 border-bottom: 0.2rem solid var(--primary);
 transform: scaleX(0);    
 transition: 0.3s linear;
}
.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.7);
}

.navbar .navbar-extra a {
    color: antiquewhite;
    margin: 0.5rem;
}
.navbar .navbar-extra a:hover{
    color: var(--primary);
}

#stack-menu {
    display: none;
}

/* Hero section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 16%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1,1,5,1) 6%, rgba(255,255,255,0) 50%);
}

.hero .content {
    padding: 1.4rem 10%;
    max-width: 60rem;
}
.hero .content h1 {
    font-size: 5em;
    color: whitesmoke;
    text-shadow: 1px 1px 5px rgba(1,1,5,0.6);
    line-height: 1;
}
.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    line-height: 1.3;
    font-weight: 150;
    text-shadow: 1px 1px 5px rgba(1,1,5,0.6);
    mix-blend-mode: difference;
}

.hero .content .cta {
    margin-top: 1.2rem;
    display: inline-block;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    color: #f9f4f4;
    background-color: var(--primary);
    border-radius: 0.3rem;
    box-shadow: 1px 1px 5px rgba(1,1,5,0.5);
}
/* Hero section end */

/* About section */

.about, .menu, .contact {
    padding: 10rem 7% 1.4rem;
}

.about h2, .menu h2, .contact h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.about h2 span, .menu h2 span, .contact h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}
.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.5rem;
    font-size: 1.15rem;
    font-weight: 100;
    line-height: 1.6;
}

/* About section end */

/* Menu section */

.menu h2, .contact h2 {
    margin-bottom: 1.3rem;
}
.menu p,
.contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1;
}


.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}


.menu .row .menu-card {
    text-align: center;
    padding-bottom: 4rem;
}

.menu .row .menu-card img {
    border-radius: 50%;
    width: 80%;
}

.menu .row .menu-card .menu-card-title {
    margin-top: 1rem auto 1rem;
}
/* Menu end */

/* Contact section */

.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: rgba(5, 53, 53, 0.47);
}
  
.contact .map-container {
    flex: 1 1 45rem;
}
  
.contact .map {
    width: 100%;
    height: 100%;
}
  
.contact form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
  
.contact form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #5c5656;
    padding-left: 2rem;
    margin-right: 2rem;
}

.contact form .input-group input {
    color: #fff; /* Update the text color */
    background-color: rgba(0, 0, 0, 0.5); /* Update the background color */
    border: none;
    padding: 0.5rem;
    margin-left: 1rem;
    flex: 1;
}

.contact form button {
    margin-top: 2rem; /* Adjust the margin-top to move the button further down */
    color: #fff; /* Update the text color */
    background-color: rgba(0, 0, 0, 0.5); /* Update the background color */
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
  
/* Contact section end */

/* Footer */
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2.5rem;
}

footer .socials {
    padding: 1rem;
}

footer .socials a {
    color: antiquewhite;
    margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
    color: var(--bg);
}

footer .links {
    margin-bottom: 1.5rem;
}
footer .links a {
    color: antiquewhite;
    padding: 0.5rem 1rem;
}

footer .credit {
    margin-top: 1.5rem;
    font-size: 1rem;
}

footer .socials a.instagram:hover {
    color: red; /* Replace with desired color */
}
  
footer .socials a.twitter:hover {
    color: blue; /* Replace with desired color */
}
  
footer .socials a.facebook:hover {
    color: green; /* Replace with desired color */
}

/* Footer end */

/* Media queries start */
/* Laptop */
@media (max-width: 1366px){
    html {
        font-size: 80%;
    }
}
/* Tablet */
@media (max-width: 768px){
    html {
        font-size: 60%;
    }

    #stack-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: whitesmoke;
        width: 30rem;
        height: 100vh;
        transition: 0.2s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 8px;
        font-size: 3rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.5);
    }

    .about .row {
        flex-wrap: wrap;
    }
    
    .about .row .about-img img {
        height: 25rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .menu p {
        font-size: 1.2rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 25rem;
    }

    .contact .row form {
        padding-top: 0;
    }
}
/* Handphone */
@media (max-width: 450px){
    html {
        font-size: 80%;
    }
}
/* Media queries end */
